<div class="container-play">
  <app-details-game />
  <app-board />

  <app-modal-fullscreen [isModalVisible]="isModalVisible()">
    @if(isPrivate() && roomService.stateGame()==='ESPERANDO_COMPAÑERO'){
    <div pie class="pie">
      <p class="pie__paragraph">Copia el link para invitar un amigo</p>
      <button class="pie__button-copy" (click)="copyLink()">
        @if (!isCopyLink()) {
        <app-svg-modal type="copy" />
        }@else {
        <app-svg-modal type="checkmark" />
        }
      </button>
    </div>
    }
  </app-modal-fullscreen>
</div>