.container-play {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;

}

.pie {
  display: flex;
  align-items: center;
  position: relative;
  top: 3rem;

  &__paragraph {
    max-width: 27ch;
    text-align: start;
  }

  &__button-copy {
    width: 1.5rem;
    padding: 0.2em;
    border: 0;
    aspect-ratio: 1/1;
    cursor: pointer;
  }

}