@use "./scss/colors.scss";
@use "./scss/_functions.scss" as f;

$border-radius-base: 13px;
$padding-console: 13px;

.main-game {
  background-color: colors.$accent-1;
  max-width: 30rem;
  border-radius: f.px-to-em(40px);
  padding: f.px-to-em($border-radius-base + $padding-console);
  height: 100svh;
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto 32%;
  container-type: inline-size;
  margin-inline: auto;

  &__screen {
    background-color: colors.$background;
    border-radius: f.px-to-rem($border-radius-base);
    border: f.px-to-rem(16px) solid colors.$primary;
    position: relative;
    padding: f.px-to-em(12px) f.px-to-em(24px);
    overflow: hidden;
  }

  &__paragraph {
    margin-block: f.px-to-rem(10px);
    font-weight: bold;
    font-style: italic;
  }

  @media(height<=40em) {
    & {

      grid-template-rows: 1fr auto;
    }

  }

}