@use "../../scss/colors.scss";
@use "../../scss/functions" as f;

@mixin flex-center {
  display: inline-flex;
  align-items: center;
}

@mixin grid-center {
  display: grid;
  place-items: center;
  place-content: center;
}

.modal-background {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2.5px) saturate(1.5);
}

.container {
  position: absolute;
  inset: 0;
  @include grid-center;

  &__title {
    text-align: center;
    max-width: 22ch;
    font-size: f.px-to-rem(42px);
    font-style: italic;
    text-transform: uppercase;
  }

  &__text {
    display: inline
  }
}

.loader {
  width: 55px;
  display: inline-block;
  aspect-ratio: 4;
  margin-inline-start: 0.2rem;
  background: radial-gradient(circle closest-side, colors.$primary 90%, #0000) 0 / calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -35% 0 0);
  }
}