@if(isModalVisible){
<div class="modal-background" @fadeInOut></div>
<div class="container" @animateChildren>
  <h2 @slideInFromRight class="container__title">
    <span class="container__text">{{ textTitle() }}</span>
    @if(roomService.stateGame()==='ESPERANDO_COMPAÑERO'){
    <div class="loader"></div>
    }
  </h2>
  <div @slideInFromRight1>
    @if(buttonTitle()!==null){
    <app-button label="Nueva partida" type="button" (onClick)="newTurn()" />
    }
  </div>
  <div @slideInFromRight2>
    <ng-content select="[pie]"></ng-content>
  </div>
</div>
}
