@if(isModalVisible){
<div class="modal-background" @fadeInOut></div>
<div class="container" @slideInFromRight>
  <h2 class="animate container__title">
    <span class="container__text">{{ textTitle() }}</span>
    @if(roomService.stateGame()==='ESPERANDO_COMPAÑERO'){
    <div class="loader"></div>
    }
  </h2>
  <div class="animate-2 container__buttons">
    @if(buttonTitle()){
    <app-button [label]="buttonTitle()" type="button" (onClick)="executeGameAction()" />
    }
    @if(isReturnButtonVisible()){
    <app-button label="Menú Principal" type="link" routerLink="/" />

    }
  </div>

  <div class="animate-2">
    <ng-content select="[pie]"></ng-content>
  </div>
</div>
}