@use "./app/scss/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: "JetBrains Mono", monospace;
  color: colors.$primary;
  min-width: 0;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:is(h1,
  h2,
  h3,
  h4,
  h5,
  h6, p, body) {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

body {
  min-height: 100svh;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

.flex-apart {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.italic {
  font-style: italic;
}