@use "../../scss/functions" as f;
@use "../../scss/colors.scss";

.changeName {
  display: grid;
  height: 100%;
  grid-template-rows: 65% 1fr;
  gap: f.px-to-rem(14px);

  &__link {
    margin-inline: auto;
  }
}

.form {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-rows: 1fr auto 20%;

  &__label {
    font-style: italic;
    text-align: center;
    text-wrap: balance;
    align-self: flex-end;
    letter-spacing: -1px;
    font-size: f.px-to-rem(30px);
  }

  &__input {
    background-color: transparent;
    border: unset;
    border-bottom: 2px dashed colors.$primary;
    text-align: center;
    width: min(100%, 9.5rem);
    margin-inline: auto;
    margin-block: f.px-to-rem(22px);
    font-size: f.px-to-rem(18px);
    align-self: center;

    &:focus-visible {
      outline: unset;
    }
  }

  &__button {
    margin-block-start: 1.2rem;
    align-self: flex-end;
  }

}